body {
  font-family: "Oxygen", sans-serif;
  text-align: center;
  background-color: #4ea96b;
  color: white;
}
.fr0g__title {
  font-weight: 700;
}
.fr0g__text--p {
}
.btn-default {
  background-color: #ffbdbd;
}
.fr0g__footer-splash {
  border-top: 1px solid black;
  background-color: #222;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.fr0g__footer-info {
}
.fr0g__footer-contact {
}
.fr0g__form {
  margin-top: 20%;
  margin-left: 20%;
  width: 50%;
}
#fr0g__form-input {
  margin: 0.25%;
  text-align: center;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  color: transparent;
  text-shadow: 0 0 0 black;
}
#fr0g__form-input:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  outline: none !important;
}
input {
  margin: 0.25%;
  text-align: center;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  color: transparent;
  text-shadow: 0 0 0 black;
}
input.focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  outline: none;
}
